.sourceKeyList {
    margin-top: 1rem;
    text-align: left;
}

.sourceKeyHeader {
    font-size: x-large;
    font-weight: bold;
}

.errorMessage {
  margin-top: 2rem;
  background-color: white;
  display: block;
  max-width: 35%;
  padding: 3px 3px 3px 10px;
  text-align: left;
  color: red;
}

input[type='radio'] { 
  transform: scale(1.2); 
}

li > label:hover { 
  cursor: pointer; 
}

li > input:hover { 
  cursor: pointer; 
}
