.dropdown {
    background-color: white;
    max-width: 20rem;
}

.ng-select.dropdown ::ng-deep .ng-dropdown-panel  {
    background-color:white;
    color: black;
}

.ng-select.dropdown ::ng-deep .ng-placeholder  {
    color: black;
}

.sourceKeyList {
    margin-top: 1rem;
    text-align: left;
}

.sourceKeyHeader {
    font-size: x-large;
    font-weight: bold;
}

.errorMessage {
  margin-top: 2rem;
  background-color: white;
  display: block;
  max-width: 35%;
  padding: 3px 3px 3px 10px;
  text-align: left;
  color: red;
}
