<app-scenario title="Historical Data" id="historical-data-scenario">
  <div>
    <app-select-machine (change)="selectedMachineChanged($event)"></app-select-machine>
    <div class="row">
      <div class="sourceKeyList" *ngIf="(sourceKeys$ | async); else loadingOrError">
        <h1 class="sourceKeyHeader">Source Keys:</h1>
        <ul>
          <li *ngFor="let key of (sourceKeys$ | async).keys">
            {{key}}
          </li>
        </ul>
      </div>

    </div>
  </div>
</app-scenario>
<ng-template #loadingOrError>
  <div *ngIf="(error$ | async); else loading" class="errorMessage">
    <div>
      No data available for this machine
    </div>
  </div>

  <ng-template #loading>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </ng-template>
</ng-template>
