<app-scenario
  scenarioTitle="Machine State"
  id="machine-state-scenario"
  description="This scenario demonstrates the usage of the State API of the tapio core system to receive the current state of a tapio-connected machine by querying its digital device twin.
  The scenario provides a snapshot view on the machine data and will not refresh automatically when the data changes.">
  <app-select-machine (change)="selectedMachineChanged($event)" [initialMachineId]="initialMachineId">
  </app-select-machine>

  <app-scenario-machinestate-detail>
  </app-scenario-machinestate-detail>
</app-scenario>
