version 5.193.0

group build
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core 4.5.0.0
  nuget Fake.BuildServer.TeamFoundation
  nuget Fake.Core.Target
  nuget Fake.JavaScript.Npm
  nuget Fake.Dotnet.Cli

group development
  source https://api.nuget.org/v3/index.json

  nuget FluentAssertions.Json
  nuget MaxKagamine.Moq.HttpClient
  nuget Microsoft.AspNetCore = 2.2.0
  nuget Microsoft.AspNetCore.CookiePolicy >= 2.2.0
  nuget Microsoft.AspNetCore.Mvc >= 2.2.0
  nuget Microsoft.AspNetCore.HttpsPolicy >= 2.2.0
  nuget Microsoft.AspNetCore.StaticFiles >= 2.2.0
  nuget Microsoft.Extensions.Options.DataAnnotations
  clitool Microsoft.Extensions.SecretManager.Tools
  nuget Microsoft.Identity.Client
  nuget Serilog.AspNetCore
  nuget Serilog.Settings.Configuration
  nuget Serilog.Sinks.Console
  nuget Serilog.Sinks.File
  nuget System.Collections.Immutable >= 1.5.0
  nuget Newtonsoft.Json >= 12.0.1
  nuget Microsoft.Extensions.Http >= 2.2.0
  nuget FluentAssertions
  nuget Microsoft.NET.Test.Sdk >= 15.9.0
  nuget xunit >= 2.4.0
  nuget xunit.runner.visualstudio >= 2.4.0
  nuget Moq
  nuget Microsoft.AspNetCore.App = 2.2.0
  nuget Microsoft.Azure.EventHubs = 3.0.0
  nuget Microsoft.Azure.EventHubs.Processor = 3.0.0
