@import "../../styles_variables.scss";

a.navbar-link {
  text-transform: uppercase;
  padding: 26px 50px 26px 26px;
  font-size: 17px;
}

@media (max-width: 480px) and (orientation: portrait) { 
  a.navbar-link {
    display: none;
  }

  a.navbar-item {
    background-color: $ait-dark-gray;
    color: white;
  }
}

.navbar-item.has-dropdown:focus .navbar-link, 
.navbar-item.has-dropdown:hover .navbar-link, 
.navbar-item.has-dropdown.is-active .navbar-link{
  background-color: $ait-dark-gray !important;
}

div.dropdown-content {
  padding: 0;
  border-radius: 0;
  border: none;
}

a.navbar-item {
  padding: 10px 20px;
  font-size: 16px;
}

a.navbar-item:first-child {
  padding-top: 20px;
}

a.navbar-item:last-child {
  padding-bottom: 20px;
}