<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-uppercase">
        Links
    </a>
    <div class="navbar-dropdown is-boxed is-right">
        <a href="https://github.com/AITGmbH/tapiodeveloperapp" class="navbar-item" target="_blank"
            rel="noopener noreferrer" (click)="selectEntry()">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
            AITGmbH/tapiodeveloperapp
        </a>
        <a href="https://developer.tapio.one" class="navbar-item" target="_blank" rel="noopener noreferrer"
            (click)="selectEntry()">
            tapio Developer Portal
        </a>
        <a href="http://www.mytapio.one" class="navbar-item" target="_blank" rel="noopener noreferrer"
            (click)="selectEntry()">
            My tapio
        </a>
    </div>
</div>
