
<div class="navbar-item has-dropdown is-hoverable is-radiusless">
    <a class="navbar-link">
        Links
    </a>
    <div class="navbar-dropdown is-right dropdown-content">
        <a
            href="https://github.com/AITGmbH/tapiodeveloperapp/"
            class="navbar-item"
            target="_blank"
            rel="noopener">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
            AITGmbH/tapiodeveloperapp
        </a>
        <a href="https://developer.tapio.one/" class="navbar-item" target="_blank" rel="noopener">
            tapio Developer Portal
        </a>
        <a href="https://admin.tapio.one/" class="navbar-item" target="_blank" rel="noopener">
            tapio Management Portal
        </a>
    </div>
</div>
