.button {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  background-color: #414753;
  color: #FFF;
  text-transform: uppercase;
  padding: 26px 26px 51px 26px;
}

.button.is-white.is-active, .button.is-white {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

.button.is-white.is-active, .button.is-white:active, .button:hover {
  background-color: #545C69;
  color: #FFF;
  border-color: transparent;
}

.button > span {
  font-size: 17px;
}

div.dropdown {
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

div.dropdown-trigger {
  align-items: center;
}

.dropdown-menu {
  padding-top: 1px;
  background-color: #414753;
  color: #FFF;
}

div.dropdown{
  margin-right: 53px;
}

div.dropdown-content {
  padding: 0;
  border-radius: 0;
}

a.dropdown-item {
  padding: 10px 20px;
  background-color: #414753;
  color: #FFF;
  font-size: 16px;
}

a.dropdown-item:first-child {
  padding-top: 20px;
}

a.dropdown-item:last-child {
  padding-bottom: 20px;
}