@import "../../styles_variables.scss";

a.navbar-link {
  text-transform: uppercase;
  padding: 26px 50px 26px 26px;
  font-size: 17px;
}


.navbar-item.has-dropdown:focus .navbar-link, 
.navbar-item.has-dropdown:hover .navbar-link, 
.navbar-item.has-dropdown.is-active .navbar-link{
  background-color: $ait-dark-gray !important;
}

div.dropdown-content {
  padding: 0;
  border-radius: 0;
  border: none;
}

a.navbar-item {
  padding: 10px 20px;
  font-size: 16px;
}

a.navbar-item:first-child {
  padding-top: 20px;
}

a.navbar-item:last-child {
  padding-bottom: 20px;
}

/* Smartphones and tablets */
@media (max-width: 1024px) { 
  
  a.navbar-link {
    display: none;
  }

  a.navbar-item {
    background-color: $ait-dark-gray;
    color: white;
  }
}

/* only tablets with orientation landscape */
@media (min-width: 851px) and (max-width: 1024px) and (orientation: landscape) {
  a.navbar-link {
    display: block;
  }

  a.navbar-link {
    text-transform: uppercase;
    padding: 17px 50px 17px 26px;
    font-size: 17px;
  }

  app-scenario-navigation {
    display: none;
  }
}

/* only desktop */
@media (min-width: 1025px) {
  app-scenario-navigation {
    display: none;
  }
}