a {
  color: #303741;
}

ul {
  padding: 11px 10px 20px 0px;
}

li {
  background-color: #F3F4F4;
  color: #303741;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid #303741;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  height: 37px;
}

li:hover > a {
  color: #F3F4F4;
}

li:hover {
  background-color: #303741;
}

li > a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

li > a > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
