<div class="navbar-item has-dropdown is-hoverable largehide">
    <a class="navbar-link">
        Menu
    </a>
    <div class="navbar-dropdown is-boxed">
        <a *ngFor="let scenarioEntry of scenarioEntries$ | async" routerLink="{{scenarioEntry.url}}" class="navbar-item"
            (click)="selectEntry()">
            {{scenarioEntry.caption}}
        </a>
    </div>
</div>

<ul class="mobhide">
    <li *ngFor="let scenarioEntry of scenarioEntries$ | async">
        <a routerLink="{{scenarioEntry.url}}"><span>{{scenarioEntry.caption}}</span></a>
    </li>
</ul>
