<app-scenario title="Machine Overview" id="machine-overview-scenario">
  <p>
    All the assigned subscriptions with its assigned machines
  </p>
  <div>
    <div class="tile is-ancestor" *ngIf="(subscriptions$ | async); else loadingOrError">
      <div class="tile is-parent is-3" *ngFor="let subscription of subscriptions$ | async">
        <div class="card">
          <header class="card-header" title="subscription {{subscription.name}} has got {{subscription.assignedMachines.length}} assigned machines">
            <h1 class="card-header-title">{{subscription.name}}</h1>
          </header>
          <div class="card-content">
            <ul>
              <li *ngFor="let machine of subscription.assignedMachines" title="Tapio machine id (tmid): {{machine.tmid}}">
                {{machine.displayName}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-scenario>

<ng-template #loadingOrError>
  <div *ngIf="(error$ | async); else loading" class="errorMessage">
    No data available for this machine
  </div>

  <ng-template #loading>
    <div *ngIf="(loading$ | async)" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </ng-template>
</ng-template>
