.main-header {
  background: #FFF;
  color: #000;
  font-family: audimat;
  margin-bottom: 0;
}

.main-content, .main-content .box {
  background: rgb(7, 19, 26);
}

.main-nav {
  background: rgb(14, 31, 41);
  font-family: audimat;
}

.logo {
  margin: 13px;
  height: 26px;
}

.is-unstyled-list {
  list-style-type: none;
}

.columns {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 50rem;
}

@media only screen and (max-device-width: 768px) {
  .columns {
    min-height: 20rem;
  }
}

.footer {
  padding: 1rem 1.5rem 2rem;
}

.is-single-line {
  white-space: nowrap;
}
