.main-header,
.columns,
footer.footer {
  position: absolute;
  right: 0;
  left: 0;
}

header.main-header {
  height: 80px;
}

nav.navbar {
  justify-content: center;
  background-color: #414753;
}

div.navbar-brand span {
  color: white;
}

div.navbar-brand > span {
  padding-top: 25px;
}

.main-content,
.main-content .box {
  background: #fff;
  max-width: 99%;
  overflow-y: auto;
}

.box {
  padding: 14px 30px 14px 14px;
}

.main-nav {
  background: #fff;
}

.level-item {
  max-height: 50px;
}

img.logo {
  vertical-align: middle;
}

.is-unstyled-list {
  list-style-type: none;
}

.columns {
  top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 85px;
  margin: 0px;
}

footer.footer {
  padding: 2rem 1rem 2rem 1rem;
  background-color: #303741;
  color: #cfcfcf;
  height: 85px;
  bottom: 0;
}

footer.footer p:hover {
  cursor: default;
}

footer.footer a.has-text-white:hover {
  color: #cfcfcf !important;
}

.align-right {
  margin-left: 50px;
}

.scroll-to-top-btn {
  position: absolute;
  bottom: 15px;
  right: 53px;
  color: #414753;
}

.scroll-to-top-btn .ng-fa-icon:hover {
  cursor: pointer;
  color: #303741;
}

/* only smartphones */
@media (max-width: 480px) {
  footer.footer {
    height: 65px;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }

  .align-right {
    margin-left: 15px;
  }
}

/* smartphones and tablets */
@media (max-width: 1024px) {
  .columns {
    top: 60px;
    padding: 0px;
    bottom: 65px;
    margin: 0px;
  }

  header.main-header {
    height: 60px;
  }

  nav.navbar {
    height: 60px; 
    justify-content: center;
  }

  .navbar-menu {
    padding: 0px;
  }

  div.navbar-brand > span {
    padding-top: 17px;
  }
  
  img.logo {
    margin: 12px 10px 0px 10px;
    width: 45px;
    vertical-align: middle;
  }

  .navbar-burger {
    width: 60px;
    height: 60px;
  }

  .dropdown-content {
    background-color: #303741;
    color: white;
  }

  div.main-nav {
    display: none;
  }

  footer.footer {
    height: 65px;
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .scroll-container {
  margin-bottom: 65px;
  }

  .scroll-to-top-btn {
    right: 20px;
  }
}

/* tablets and desktop */
@media only screen and (min-width: 769px) {
  nav.navbar {
    height: 80px;
    justify-content: center;
  }

  div.navbar-brand span:hover {
    cursor: default;
  }

  .navbar-menu {
    margin-right: 42px;
  }

  img.logo {
    margin: 15px 26px 15px 20px;
    width: 60px;
    vertical-align: middle;
  }
}
