<nav class="navbar site-header" role="navigation" aria-label="dropdown navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a href="https://aitgmbh.de/" target="_blank" rel="noopener noreferrer" class="ait-logo">
                <img src="assets/img/logo/ait.svg" class="logo" alt="AIT">
            </a>
            <div class="has-text-white">
                <span>
                    tapio developer app
                </span>
            </div>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start largehide" app-scenario-navigation>
            </div>
            <div class="navbar-end" app-external-links-dropdown>
            </div>
        </div>
    </div>

</nav>

<main class="site-content">
    <div class="container is-fluid">
        <div class="columns is-marginless">
            <div class="column is-narrow mobhide">
                <div app-scenario-navigation></div>
            </div>
            <div class="column">
                <main>
                    <router-outlet></router-outlet>
                </main>
                <div *ngIf="showScrollToTopBtn" class="action-button scroll-to-top-btn" (click)='scrollToTop()'>
                    <fa-icon [icon]="['fas', 'chevron-up']" [size]="'2x'"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer site-footer">
    <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column is-4">
                © 2019 AIT GmbH & Co. KG
            </div>
            <div class="column is-4">
                <a href="https://www.aitgmbh.de/impressum" target="_blank" rel="noopener noreferrer"
                    class="has-text-white align-right">
                    <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Legal Notice - Impressum
                </a>
            </div>
            <div class="column is-4">
                <a href="https://www.aitgmbh.de/datenschutz" target="_blank" rel="noopener noreferrer"
                    class="has-text-white align-right">
                    <fa-icon [icon]="['fas', 'shield-alt']"></fa-icon> Privacy Policy - GDPR
                </a>
            </div>
        </div>
    </div>
</footer>
