<header class="main-header is-centered">
  <div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://aitgmbh.de/" target="_blank" rel="noopener">
                <img src="assets/img/logo/ait.svg" class="logo" alt="AIT">
            </a>
            <a class="navbar-item"><span>tapio developer app</span></a>
        </div>
        <div class="navbar-item has-dropdown  is-hoverable">
            <app-external-links-dropdown></app-external-links-dropdown>
        </div>
    </nav>
  </div>
</header>

<div class="columns">
  <div class="column is-narrow main-nav">
    <app-scenario-navigation></app-scenario-navigation>
  </div>
  <div class="column main-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      © 2019 AIT GmbH & Co KG<a href="https://www.aitgmbh.de/impressum/" target="_blank" rel="noopener"
        class="has-text-white align-right">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Legal Notice - Impressum
      </a>
    </p>
  </div>
</footer>
