<header
  class="main-header has-text-centered level">

  <div class="level-left">
    <div class="level-item">
      <a href="https://tapio.one/"><img src="assets/img/logo/tapio.svg" class="logo"></a>
      <span> developer app by </span>
      <a href="https://aitgmbh.de/"><img src="assets/img/logo/ait.svg" class="logo"></a>
    </div>
  </div>

  <div class="level-right">
      <div class="level-item">
          <app-hamburgermenu></app-hamburgermenu>
      </div>
  </div>
</header>
<main
  class="main-content box has-text-centered">
</main>
<footer class="footer">
    <div class="content has-text-centered">
      <ul class="is-unstyled-list">
        <li>
          tapio Developer App by <a href="https://aitgmbh.de/">AIT GmbH & Co. KG</a>
        </li>
        <li>
          <a href="https://github.com/AITGmbH/tapiodeveloperapp/" rel="noopener" class="m-r-sm">
            <fa-icon [icon]="['fab', 'github']"></fa-icon> AITGmbH/tapiodeveloperapp
          </a>
        </li>
      </ul>
    </div>
</footer>
<router-outlet></router-outlet>
