img.logo {
    margin: 15px 26px 15px 20px;
    width: 60px;
    vertical-align: middle;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 100px;
    right: 53px;
    color: #414753;
}

.scroll-to-top-btn .ng-fa-icon:hover {
    cursor: pointer;
    color: #303741;
}

div.navbar-brand > div > span {
    line-height: 80px;
}

// /* smartphones and tablets */
@media (max-width: 1024px) {
    .container.is-fluid {
        margin-left: 16px;
        margin-right: 16px;
        max-width: none;
    }

    nav .container.is-fluid {
        padding-right: 16px;
        max-width: none;
    }

    img.logo {
        margin: 12px 10px 0px 10px;
        width: 45px;
        vertical-align: middle;
    }

    div.navbar-brand > a.navbar-burger {
        height: 60px;
    }

    div.navbar-brand > div > span {
        line-height: 60px;
    }

    .scroll-to-top-btn {
        right: 20px;
    }
}
