<app-scenario title="Machine Live Data" id="machine-live-data-scenario" class="has-text-left">
    <app-select-machine (change)="selectedMachineChanged($event)">
    </app-select-machine>

    <h1 class="title is-4">Item data</h1>

    <ngx-datatable class="material datatable" [columnMode]="'force'" [headerHeight]="30" [rowHeight]="'auto'"
        [footerHeight]="0" [scrollbarH]="true" [rows]="itemData$ | async">
        <ngx-datatable-column [width]="150" [resizeable]="true" name="key (k)" prop="msg.k">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="value (v)" prop="msg.v">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="value type (vt)" prop="msg.vt">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="unit (u)" prop="msg.u">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="quality (q)" prop="msg.q">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="receive timestamp (rts)" prop="msg.rts">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="source timestamp (sts)" prop="msg.sts">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <h1 class="title is-4">Condition</h1>

    <ngx-datatable class="material datatable" [columnMode]="'force'" [headerHeight]="30" [rowHeight]="'auto'"
        [footerHeight]="0" [scrollbarH]="true" [rows]="conditionData$ | async">
        <ngx-datatable-column [width]="150" [resizeable]="true" name="key (k)" prop="msg.k">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="provider (p)" prop="msg.p">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="source (s)" prop="msg.s">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="200" [resizeable]="true" name="active state (as)" prop="msg.as">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" [resizeable]="true" name="severity (sv)" prop="msg.sv">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="localized source text (ls)" prop="msg.ls">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div live-data-update [liveDataValue]="value" class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | json }}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="280" [resizeable]="true" name="localized source message (lm)" prop="msg.lm">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | json }}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="additional value list (vls)" prop="msg.vls">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | json }}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="receive timestamp (rts)" prop="msg.rts">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="250" [resizeable]="true" name="source timestamp (sts)" prop="msg.sts">
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="datatable-cell-value" style="word-wrap:break-word">
                    {{ value | date: 'yyyy-MM-dd HH:mm:ss.SSS' }}
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

</app-scenario>
