div.control {
    text-align: left;
    margin: 10px 0;
}

div.control input {
    background-color: #f3f4f4;
    color: #303741;
    border: 2px solid #303741;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 10px 6px 10px;
    height: 42px;
    width: 30rem;
}

.owl-dt-popup-container,
.owl-dt-popup-container input,
.owl-dt-popup-container button {
    color: #303741;
}
.owl-dt-calendar-table span.owl-dt-calendar-cell-selected {
    background-color: #303741;
    color: #f3f4f4;
}
.owl-dt-calendar-table td.owl-dt-calendar-cell-in-range {
    background-color: #f3f4f4;
    color: #303741;
}

@media (max-width: 1024px) {
    div.control input {
        width: 25rem;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    div.control {
        width: 25rem;
    }
}

@media (min-width: 321px) and (max-width: 641px) {
    div.control input {
        width: 20rem;
    }
    div.control input {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    div.control input {
        width: 15rem;
    }
    div.control input {
        font-size: 12px;
    }
}
