<app-scenario
  title="Historic Conditions"
  id="historic-conditions-scenario"
  class="has-text-left">
  <div>
    <app-select-machine
      (change)="selectedMachineChanged($event)">
    </app-select-machine>
  </div>
  <div>
    <app-date-range (change)="dateRangeChanged($event)"> </app-date-range>
  </div>
  <div class="modal is-active" *ngIf="modalContent">
    <div class="modal-background"></div>
    <div class="modal-content">
      <pre>{{ modalContent }}</pre>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="modalContent = ''">
    </button>
  </div>
  <div
    *ngIf="!(loading$ | async) && !(error$ | async) && (rows$ | async);
      else loadingOrError">
      <ngx-datatable
      class="material datatable"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="'auto'"
      [footerHeight]="35"
      [scrollbarH]="true"
      [rows]="rows$ | async"
      [sorts]="[{ prop: 'duration', dir: 'desc' }, { prop: 'sts', dir: 'desc' }]"
      [selectionType]="'single'"
      (select)="onElementSelected($event)">
      <ngx-datatable-column name="key" [resizeable]="false" [width]="250">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>Key (identifier)</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="datatable-cell-value" style="word-wrap:break-word">
            {{ value }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [width]="150"
        [resizeable]="false"
        name="provider"
        prop="provider">
      </ngx-datatable-column>
      <ngx-datatable-column name="key" [resizeable]="false" [width]="300">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>key (usually OPC UA Node ID)</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="datatable-cell-value" style="word-wrap:break-word">
            {{ value }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="s" [resizeable]="false" [width]="200">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>source</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="datatable-cell-value" style="word-wrap:break-word">
            {{ value }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="120" [resizeable]="false" name="severity" prop="sv">
      </ngx-datatable-column>
      <ngx-datatable-column
        [width]="120"
        [resizeable]="false"
        name="duration"
        prop="duration">
      </ngx-datatable-column>
      <ngx-datatable-column name="sts" [resizeable]="false" [width]="250">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>source time stamp ({{ column.name }})</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="datatable-cell-value">{{ value | date: "medium" }}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [width]="120"
        [resizeable]="false"
        name="quality"
        prop="rts_utc_end_quality">
      </ngx-datatable-column>
      <ngx-datatable-column [width]="200" [resizeable]="false" name="lm">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>localized message ({{ column.name }})</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div style="white-space:pre-wrap">{{ value | json }}</div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</app-scenario>

<ng-template #loadingOrError>
  <div *ngIf="(error$ | async)" class="errorMessage">
    <div>
      No data available for this machine
    </div>
  </div>
  <div>
    <div *ngIf="(loading$ | async)" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</ng-template>