div.modal-content {
    width: 60rem;
}

.modal-content pre {
    text-align: left;
}

.errorMessage {
    margin-top: 2rem;
    background-color: white;
    display: block;
    max-width: 35%;
    padding: 3px 3px 3px 10px;
    text-align: left;
    color: red;
  }
