<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="isString(title)">
    <h1 class="title is-1">{{title}}</h1>
  </ng-container>
  <ng-container *ngSwitchCase="isTemplateRef(title)">
    <ng-container *ngTemplateOutlet="title"></ng-container>
  </ng-container>
</ng-container>

<div class="developer-links">
  <a href="{{tapioDocumentationUrl}}" class="has-text-light" target="_blank" rel="noopener">Tapio</a>
  <a href="{{frontendUrl}}" class="has-text-light" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']"></fa-icon>Frontend</a>
  <a href="{{backendUrl}}" class="has-text-light" target="_blank" rel="noopener" *ngIf="hasBackendUrl"><fa-icon [icon]="['fab', 'github']"></fa-icon>Backend</a>
</div>
<div class="actual-content has-text-light">
  <ng-content></ng-content>
</div>
