<div class="content-header">
    <h1 class="title is-1">{{ scenarioTitle }}</h1>
    <div class="developer-links has-text-white mobhide">
        <a [href]="tapioDocumentationUrl" target="_blank" rel="noopener noreferrer">tapio</a>&nbsp;
        <a [href]="frontendUrl" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>front end
        </a>&nbsp;
        <a [href]="backendUrl" target="_blank" rel="noopener noreferrer" *ngIf="hasBackendUrl">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>back end
        </a>
    </div>
    <div class="scenario-description" [innerHTML]="description">{{ description }}</div>
</div>
<div class="actual-content">
    <ng-content></ng-content>
</div>
