h1.title {
  text-align: left;
  color: #fff;
}

.actual-content {
  background: #010305;
  min-height: 20vh;
}

.developer-links {
  display: flex;
  justify-content: flex-end;
}

.developer-links > a:not(:last-child){
  margin-right: 6px;
}

.developer-links > a fa-icon {
  margin-right: 3px;
}

* {
  font-family: audimat;
}
