.actual-content {
  background: #010305;
  min-height: 43rem;
  padding: 1rem; 
}

.developer-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.developer-links > a:not(:last-child){
  margin-right: 6px;
}

.developer-links > a fa-icon {
  margin-right: 3px;
}

* {
  font-family: audimat, sans-serif;
}