h1.title {
  text-align: left;
  color: #fff;
}

.actual-content {
  background: #010305;
  height: 43rem;
  padding: 1rem; 
}

.developer-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.developer-links > a:not(:last-child){
  margin-right: 6px;
}

.developer-links > a .ng-fa-icon {
  margin-right: 5px;
}

* {
  font-family: audimat, sans-serif;
}