<app-scenario
    scenarioTitle="License Overview"
    id="license-overview-scenario"
    description="This scenario shows all the information on subscriptions containing licenses of the tapio developer app by using the GlobalDiscoveryService API.">
    <div class="card-stack-container">
        <div class="card is-child is-vertical" *ngFor="let subscription of subscriptions$ | async">
            <header class="card-header">
            <h1 class="card-header-title">{{ subscription.name }}</h1>
            </header>
            <div class="card-content">
                <ul class="license-list">
                    <li *ngFor="let license of subscription.licenses">
                    <div class="license-div">
                        <p><span class="license-content-name">License Id:</span>{{ license.licenseId }}</p>
                        <p><span class="license-content-name">Application Id:</span>{{ license.applicationId }}</p>
                        <p><span class="license-content-name">Created date:</span>{{ license.createdDate | date: "medium" }}</p>
                        <p><span class="license-content-name">Billing start date:</span>{{ license.billingStartDate | date: "medium" }}</p>
                        <p><span class="license-content-name">Billing interval:</span>{{ license.billingInterval }}</p>
                        <p><span class="license-content-name">License count:</span>{{ license.licenseCount }}</p>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-scenario>

<ng-template #loadingOrError>
    <div *ngIf="error$ | async; else loading" class="errorMessage">
      No data available
    </div>

    <ng-template #loading>
        <div #loading class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </ng-template>
</ng-template>
