<app-scenario
    scenarioTitle="License Overview"
    id="license-overview-scenario"
    description="This scenario shows all the information on subscriptions containing licenses of the tapio developer app by using the GlobalDiscoveryService API.">
    <div class="card-stack-container">
        <div class="card" *ngFor="let subscription of subscriptions$ | async">
            <header class="card-header">
                <h1 class="card-header-title">{{ subscription.name }}</h1>
            </header>
            <div class="card-content">
                <ul class="license-list">
                    <li *ngFor="let license of subscription.licenses">
                        <table class="license-list-table">
                            <tr><td>License Id:</td><td>{{ license.licenseId }}</td></tr>
                            <tr><td>Application Id:</td><td>{{ license.applicationId }}</td></tr>
                            <tr><td>Created date:</td><td>{{ license.createdDate | date: "medium" }}</td></tr>
                            <tr><td>Billing start date:</td><td>{{ license.billingStartDate | date: "medium" }}</td></tr>
                            <tr><td>Billing interval:</td><td>{{ license.billingInterval }}</td></tr>
                            <tr><td>License count:</td><td>{{ license.licenseCount }}</td></tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-scenario>

<ng-template #loadingOrError>
    <div *ngIf="error$ | async; else loading" class="errorMessage">
      No data available
    </div>

    <ng-template #loading>
        <div #loading class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </ng-template>
</ng-template>
