@import "./styles_variables.scss";

$navbar-background-color: $black;

$navbar-item-hover-color: #FFF;

$navbar-item-color: white;


$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-arrow: $navbar-item-color;
$navbar-dropdown-item-hover-color: $black;

