.ngx-datatable .datatable-body .datatable-row-wrapper:not(:last-of-type) {
  border-bottom: thin solid #303741;
}

.datatable-header-cell {
  font-weight: 700;
}

.datatable-header {
  border-bottom: thin solid #303741;
  margin-right: 15px;
}

.ngx-datatable .datatable-footer {
  border-top: thin solid #303741;
}

.datatable-footer {
  border-top: thin solid #303741;
}

.ngx-datatable .pages a {
  color: #303741;
  margin-left: 1rem;
}

.ngx-datatable .datatable-body-cell {
  line-height: 2.5;
  margin-right: 15px;
}

.datatable-footer .datatable-pager {
  display: none;
}

.ngx-datatable .datatable-header-cell {
  margin-right: 15px;
}

div.empty-row {
  padding-top: 10px;
}
