div.card {
    background-color: #f3f4f4;
    color: #303741;
}

header.card-header {
    background-color: #303741;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

header.card-header > h1 {
    color: #f3f4f4;
}

div.card-content {
    color: #303741;
    border: 2px solid #303741;
}
