@import "../node_modules/open-sans-fonts/open-sans-ng.css";

@import "./styles_variables.scss";
@import "./styles_navbar.scss";
@import "./styles_cards.scss";
@import "./styles_spinner.scss";
@import "./styles_datatable.scss";
@import "./styles_footer.scss";

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

* {
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

@media all and (max-width: 1024px) {
    .mobhide {
        display: none !important;
    }
}

@media all and (min-width: 1025px) {
    .largeshow {
        display: inherit;
    }
    .largehide {
        display: none;
    }
}

* /deep/::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color: #f5f5f5;
    overflow: auto;
}

* /deep/::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

* /deep/::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #aaa;
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-header,
.site-footer {
    flex: none;
}

.site-content {
    flex: 1;
}

// /* IE11 Bulma Dropdown Override see:https://github.com/jgthms/bulma/issues/2503 and https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-within */
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
    opacity: 1 !important;
    pointer-events: auto;
    transform: translateY(0);
}
