@import "../node_modules/open-sans-fonts/open-sans-ng.css";

@import "./styles_variables.scss";
@import "./styles_navbar.scss";
@import "./styles_cards.scss";
@import "./styles_spinner.scss";
@import "./styles_datatable.scss";


@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

* {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: #FFF;
  height: 100%;
  width: 100%;
}

h1.title {
  text-align: left;
  color: #303741;
}

h3.title.is-3 {
  text-align: left;
  color: #303741;
  font-size: 35px;
  margin: 15px 0;
}

a.has-text-white:hover {
  color: #FFF !important;
}

.errorMessage {
  margin-top: 2rem;
  background-color: white;
  display: block;
  max-width: 35%;
  padding: 3px 3px 3px 10px;
  text-align: left;
  color: red;
}
