<div class="row">
  <div class="tile">
    <ng-select *ngIf="items$ | async; else loadingOrError"
      class="tile dropdown selectmachine-ngselect"
      [items]="items$ | async"
      groupBy="assignedMachines"
      bindLabel="displayName"
      placeholder="Please select a machine"
      [clearable]="false"
      [searchable]="false"
      [dropdownPosition]="'bottom'"
      (change)="selectedMachineChanged($event)"
      [(ngModel)]="selectedMachine">
      <ng-template ng-optgroup-tmp let-item="item">
        {{ item.name }}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{ item.displayName }}
      </ng-template>
    </ng-select>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="(error$ | async)" class="errorMessage">
    No data available for this machine
  </div>
  <div class="loading-spinner">
    <div *ngIf="(loading$ | async)" class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <p id="machine-loading-text">Loading machine data...</p>
  </div>
</ng-template>