div.control {
    margin-bottom: 24px;
    width: 30rem;
}

@media (max-width: 1024px) {
    div.control {
        width: 25rem;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    div.control {
        width: 25rem;
    }
}

div.control ng-select {
    background-color: #f3f4f4;
    color: #303741;
    font-size: 20px;
    font-weight: 600;
}

div.ng-select-container {
    background-color: #f3f4f4 !important;
    color: #303741 !important;
    border: #303741 2px solid !important;
    border-radius: 0px !important;
    padding: 20px 0;
}

div.ng-select-container:hover {
    cursor: pointer;
}

.selectmachine-ngselect.dropdown,
.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    border-radius: 0 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 300px !important;
}

div.ng-dropdown-panel-items {
    border: #303741 2px solid;
    border-radius: 0px !important;
    font-weight: 400;
    width: 100%;
}

div.ng-placeholder {
    font-style: italic;
    color: #414753 !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #303741 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #303741;
    border-width: 0 5px 5px;
}

.ng-dropdown-panel.ng-select-bottom {
    border-radius: 0px !important;
}

div.ng-option-selected,
div.ng-option-marked {
    background-color: #303741 !important;
    color: #f3f4f4 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled span.ng-option-label {
    color: #303741;
    font-weight: 600;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    cursor: default;
}

div.loading-spinner {
    position: relative;
    height: 42px;
    width: 30rem;
}

div.loading-spinner div.spinner {
    position: absolute;
    top: 0;
    left: 10px;
    height: 40px;
    width: 40px;
    margin-top: 2px;
}

#machine-loading-text {
    padding: 12px 0 0 55px;
    font-style: italic;
    color: #303741;
}
